main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

h1, p{
  color: orangered
}

li{
  list-style-type: none;
}

img,{
  border-radius: 1rem;
  box-shadow: 10px 5px 5px black;
}


